
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Numans&display=swap');


body{
    background-image: radial-gradient(circle, #e66465, #9198e5);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: "Courier Prime", monospace;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1em;
}

h2{
    margin-right: 1em;
}

h3{
    background-color: hsla(0, 0%, 100%, 0.128);
    width: 3em;
    height: 3em;
    border-radius: 50%; 
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.21), inset -2px -2px 2px hsla(0, 0%, 10%, 0.122);
}

h1{
    display: flex;
    justify-content: center;
    padding: 2% 0 0 0;
    font-family: "Numans", sans-serif;
    font-size: 3em;
    letter-spacing: .3em;
}

main{
    margin: auto;
    background-color: hsla(0, 0%, 100%, 0.128);
    border-radius: 1.5em;
    width: 60vh;
    height: 60vh;
    box-shadow: 10px 10px 10px hsla(0, 0%, 10%, 0.076), inset 10px 10px 10px rgba(255, 255, 255, 0.074);
    overflow: hidden;
    position: relative;
}

#choseX, #choseO{
    display: none;
}

.row{
    display: flex;
    width: 100%;
    height: 33.33%;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.074), inset -3px -3px 3px hsla(0, 0%, 10%, 0.076);
}

.top-left{
    border-top-left-radius: 1.5em;
}

.top-right{
    border-top-right-radius: 1.5em;
}

.bottom-left{
    border-bottom-left-radius: 1.5em;
}

.bottom-right{
    border-bottom-right-radius: 1.5em;
}

.table-item{
    flex: 1 1 100%;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.074), inset -3px -3px 3px hsla(0, 0%, 10%, 0.076);
}

/* INTERACTIVITY */

.table-item:hover, h3:hover{
    box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.258), inset -4px -4px 4px hsla(0, 0%, 10%, 0.217);
    transition: all .35s;
}

.table-item:active, h3:active{
    background-color: hsla(0, 0%, 15%, 0.137);
}